<div style="margin-right:100px; display: inline;" ><%= wicked_pdf_image_tag('logo_pharma_carta.png') %></div>
<h2 style=" position: absolute; top:0px; right: 250px; ">Pharmaceutical Care</h2>
<br>
<br>
<table style="width: 100%">
  <tr><td>Servicio : </td><td>Acompañamiento pacientes y farmacovigilancia.</td></tr>
  <tr><td>Reporte : </td><td>Pacientes Lodux</td></tr>
  <tr><td>Intervalo de Reporte : </td><td>Pacientes Lodux</td></tr>
  <tr><td>N Pacientes : </td><td><%=@pacientes.count%></td></tr>
  <tr><td>N Recomendaciones : </td><td><%=@recomendaciones_informe.count%></td></tr>
</table>
<br>
<table class="informe">
  <tr>
      <th>N rec</th>
      <th>Fecha Rec</th>
      <th>Codigo</th>
      <th>Leucocitos</th>    
      <th>R.A.N.</th>
      <th>Alarmas</th>
      <th>A/R</th>
  </tr>
</table>

