<h2>Editar tratamiento</h2>

<%= render 'form' %>

<%= link_to (t :text_show), [@tratamiento.recomendacion, @tratamiento] %> |
<%= link_to (t :text_back), recomendacion_path(@tratamiento.recomendacion) %>
