
<p>Estimado,</p>
<p>Adjunto al correo la recomendación solicitada.</p>
<p>Saludos cordiales.</p>

<div style="text-align: justify; width: 58%;">


<div style="position: relative; top:200px;">
  <div style="display: inline;"><%= image_tag attachments['logo_pharma_carta.png'].url,  height: '50', width: '120' -%></div>
  <div style="width: 80%; font-weight: bold; float: right; ">
  &nbsp;<%= @qf_soporte.name %> | Pharmaceutical Care®<br>
  &nbsp;WA +56 9 33752459 |+56 2 32012691
  </div>
  <div style="font-weight: bold;"> Horario de Atención : lunes a viernes de 9:00 a 18:00 hrs.</div>
</div> 

<p><b>Disclaimer Programa de Clozapina</b><br>En pacientes en los que se suspende el tratamiento por razones diferentes a la neutropenia, éste se puede reiniciar gradualmente o se lo puede continuar desde la última dosis utilizada si la suspensión es menor a 30 días; en estos casos se sugiere  hemograma semanal hasta alcanzar la última dosis utilizada. Si la suspensión es mayor a 30 días se debe reiniciar el esquema con hemograma semanal por las primeras 18 semanas de uso. El hemograma de control para dispensar una nueva receta de Clozapina en el período de control semanal no debe tener una antigüedad superior a 5 días y en la fase mensual no debe tener una antiguedad superior a 7 días" Pagina 10 de Norma Técnica para el uso de Clozapina, 2018.</p>

<p><b>Horario de Atención</b><br>El centro de farmacovigilancia y tecnovigilancia Pharmaceutical Care, <b>atiende de lunes a viernes de 9:00 a 18:00 hrs </b>en horario continuado (en días hábiles). De no recibir toda la documentación completa por paciente, en forma y fondo, dentro del horario hábil de atención, se rechazará la recomendacion de dispensación.<b> Cuando se reciba la documentación fuera del horario hábil de atención, se dejará pendiente la solicitud de recomendación de dispensación, hasta revisión en día y horario hábil siguiente.</b></p>

</div>	