
<% if user_signed_in? %>
  <li class="nav-item active"><%= link_to 'Editar cuenta', edit_user_registration_path, class: 'nav-link text-white' %></li>
  <li class="nav-item active"><%= link_to 'Salir', destroy_user_session_path, :method=>'delete', class: 'nav-link text-white' %></li>
<% else %>
  <li class="nav-item active"><%= link_to 'Loguearse', new_user_session_path, class: 'nav-link text-white' %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li class='nav-item'><%= link_to 'Usuarios', users_path, class: 'nav-link' %></li>
  <% end %>
<% end %>

